{% extends "base_generic.html" %}

{% block title %} <title>Local Library Catalog</title> {% endblock %}

{% block content %}
<h1>Local Library Home</h1>
<p>Welcome to LocalLibrary, a website developed by <em>Mozilla Developer Network</em>!</p>
<h2>Crude search</h2>
    <div class="col-3 mb-3">
        <form action="" method="GET">
            <div class="mb-3"><label for="search" class="form-label">Enter search query</label> <br>
                <input id="search" type="text" name="search" placeholder="Enter text to search genre"
                       class="form-control"></div>
            <input type="submit" class="btn btn-primary" value="Search" class="form-control">
        </form>
    </div>
<h2>Dynamic content</h2>
<p>The library has the following record counts:</p>
<ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
    {% if search_param %}
    <li><strong>Books with "{{search_param}}" in genre:</strong> {{ num_books_with_param }}</li>
    <li><strong>Genres with "{{search_param}}" in genre:</strong> {{ num_genres_with_param }}</li>
    {% endif %}
</ul>

<footer>
    <p>You have visited this page: {{num_visits}} time{{num_visits|pluralize}}
        {% if user.is_authenticated %}
        since your last login on:
        {{user.last_login}}</p>
        {% endif %}
</footer>
{% endblock %}
