.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.thumb{
    max-width: 100px;
}

.create-button{
    height:min-content;
}

.buy-button{
    width: 150px;
    /*margin-bottom: 0.50rem;*/
}