{% extends "base_generic.html" %}

{% block content %}
    <h1>All Borrowed books</h1>

    {% if bookinstance_list %}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Book Name</th>
                <th>Borrowed on</th>
                <th>Due date</th>
                <th>Borrower Name</th>
                <th>Borrower email</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for bookinst in bookinstance_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{{ bookinst.book.get_absolute_url }}">{{ bookinst.book.title }}</a>
                        {% if bookinst.is_overdue %}
                            <span class="badge bg-danger ms-1">OVERDUE</span>
                        {% endif %}
                    </td>
                    <td>{{ bookinst.borrowed_on }}</td>
                    <td>{% if bookinst.days_left == 0 %}
                            <span class="badge bg-primary ms-1">TODAY</span>
                        {% else %}
                        {{ bookinst.due_back }}
                        {% endif %}

                    </td>
                    <td>{{ bookinst.borrower_names }}</td>
                    <td><a href="mailto:{{ bookinst.borrower.email }}">Send email</a></td>
                    <td><a href="{% url 'renew-book-librarian' bookinst.id %}">Renew</a></td>

                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>There are no books borrowed.</p>
    {% endif %}
{% endblock %}