{% extends 'base_generic.html' %}
{% include 'catalog/partials/_toast.html' %}
{% block content %}
{#    {% if query %}#}
        {% if books %}
            <h2>Your search for "{{ query }}" returned the following:</h2>
            <br/>
            <h3>Books:</h3>
            <br>
            {% for book in books %}
                <ul class="list-group">
                    <li class="list-group-item d-flex">
                        <div class=""><a href="{{ book.get_absolute_url }}" class="">
                            <img class="thumb me-3"
                                 src="{{ book.get_cover_image|default:placeholder }}"
                                 alt="cover image">
                        </a></div>
                        <div class=""><a href="{{ book.get_absolute_url }}">
                            <h4 class="">{{ book.title }}</h4>
                        </a>
                            <h5>Summary:</h5>
                            <p class="">{{ book.summary }}</p>
                        </div>
                    </li>
                </ul>
            {% endfor %}
        {% endif %}
            <br/>
            {% if authors %}
                <h3>Authors:</h3>
                {% for author in authors %}
                    <ul class="list-group ">
                        <li class="list-group-item d-flex">
                            <div><a href="{{ author.get_absolute_url }}" class="d-flex align-items-center">
                                <img class="thumb me-3"
                                     src="{{ book.get_cover_image|default:placeholder }}"
                                     alt="cover image">


                            </a></div>
                            <div>
                                <a href="{{ author.get_absolute_url }}"><h4 class="">{{ author }}</h4></a>
                                <sub>{{ author.date_of_birth|date:"DATE_FORMAT" }}
                                    - {{ author.date_of_death|date:"DATE_FORMAT"|default:"" }}</sub>
                            </div>
                        </li>

                    </ul>
                {% endfor %}
            {% endif %}
{#        {% else %}#}
            <h2>Please refine your search. No results for: "{{ query }}"</h2>
{#        {% endif %}#}
        {#TODO: rework using empty tag in for loop: {% for %}...{% empty %}...{% endfor %}#}
{#    {% else %}#}
{#        <h2 class="text-center">You didn't enter anything to search for.</h2>#}
{#        <br>#}
{#        <h4 class="text-center">You can go <a href="javascript:history.go(-1)">back</a> or search again</h4>#}
{#    {% endif %}#}
{% endblock %}
