<div class="modal" id="myModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Continue shopping</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>You have successfully added book <strong>"{{ book.title }}"</strong> to cart</p>
                <p>Would you like to continue shopping or go to checkout?"</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Continue shopping</button>
                <a class="btn btn-primary" href="{%  url 'cart' %}">Checkout</a>
            </div>
        </div>
    </div>
</div>